$fa-font-path: "../webfonts";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Abhaya Libre";
  src: url("../../public/fonts/AbhayaLibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abhaya Libre";
  src: url("../../public/fonts/AbhayaLibre-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

:focus {
  outline: none
}

/* ! ****************************** */
/* ! CUSTOM PROPERTIES ************ */
/* ! ****************************** */
:root {
  --btn-color: #6ecc84;
  --green-bg-color: #e0ffe8;
  --footer-color: #264e32;
  --navbar-height: 100px;
  --footer-height: 65px;
  --navbar-width: 270px
}

/* ! ****************************** */
/* ! GENERALS ********************* */
/* ! ****************************** */
html {
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: 'Roboto', serif
}

body.wait,
body.wait *,
body.wait :hover {
  cursor: wait !important
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 550px
}

a {
  color: #000
}

p {
  line-height: 27px
}

h1 {
  color: var(--footer-color);
  font-family: 'Abhaya Libre', sans-serif;
  font-size: 48px;
  font-weight: bolder;
  line-height: .9;
  margin-bottom: 20px
}

header.hero-secondary h1 {
  color: #fff;
  font-family: roboto, sans-serif;
  font-weight: 400;
  position: relative;
  text-transform: uppercase
}

h1 > span {
  display: block;
  font-size: 28px
}

h2 {
  font-family: Abhaya Libre, serif;
  font-size: 40px;
  letter-spacing: .8px;
  margin-bottom: 20px
}

h3 {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase
}

h3,
h4 {
  color: var(--btn-color);
  margin-bottom: 10px
}

h4 {
  font-family: Abhaya Libre, serif;
  font-size: 28px;
  font-weight: 700;
  padding: 0 25px
}

hr {
  background-color: var(--footer-color);
  border: none;
  height: 2px;
  width: 120px
}

address {
  font-style: normal
}

.btn {
  background-color: var(--btn-color);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 17px 32px;
  position: relative;
  text-transform: uppercase;
  transition: background-color .3s
}

/* ! ****************************** */
/* ! NAVBAR *********************** */
/* ! ****************************** */
#top-header {
  background-color: #fff;
  box-shadow: 0 0 2px #000;
  height: var(--navbar-height);
  left: 0;
  position: sticky;
  top: 0;
  z-index: 1
}

#top-header .container {
  height: 100%
}

#hdr-logo img {
  max-height: var(--navbar-height);
  max-width: 75%
}

#top-navbar {
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  height: calc(100vh - var(--navbar-height));
  left: calc(var(--navbar-width) * -1);
  padding: 50px 20px;
  position: absolute;
  top: calc(var(--navbar-height) + 1px);
  transition: left .3s;
  width: var(--navbar-width)
}

.open ~ #top-navbar {
  left: 0
}

#top-navbar li a {
  border-bottom: 1px solid #d3d3d3;
  color: #000;
  display: block;
  font-weight: 700;
  padding: 20px 0;
  transition: color .3s
}

#top-navbar li a.active,
#top-navbar li a:hover {
  color: var(--btn-color)
}

/* ! ****************************** */
/* ! MAIN ************************* */
/* ! ****************************** */
main header,
section {
  padding: 100px 20px
}

#hero,
main header,
section {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover
}

#hero {
  background-color: #bfdac6;
  background-image: url(../../public/images/Hero-background-1024x533.webp);
  padding: 0
}

#hero .col-50:first-of-type {
  padding: 75px 20px 0
}


#hero img {
  background-color: #b7b8b2;
  height: 550px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

#hero h3 {
  font-weight: 600;
  letter-spacing: 3px
}

.hero-secondary {
  background-color: #bfdac6;
  background-image: url(../../public/images/Immagini-sito.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  position: relative
}

.hero-secondary:before {
  background-image: linear-gradient(180deg, #ffffff00, #76be82);
  content: "";
  inset: 0;
  opacity: .5;
  position: absolute
}

#chi-sono h2 {
  margin-bottom: 0
}

#chi-sono h4 {
  color: #000;
  margin-bottom: 1.1rem
}

#chi-sono p {
  font-size: 17px;
  line-height: 28px;
  max-width: 765px
}

#cosa-aspettarsi {
  background-image: url(../../public/images/cosa-aspettarsi-bg.webp);
}

#cosa-aspettarsi figure {
  padding: 0 10% 0 30%
}

#di-cosa-mi-occupo {
  background-image: url(../../public/images/h4_pattern.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

#di-cosa-mi-occupo:before {
  background-color: var(--green-bg-color);
  content: "";
  inset: 0;
  opacity: .85;
  position: absolute
}

#di-cosa-mi-occupo > * {
  position: relative
}

#di-cosa-mi-occupo h2 {
  color: var(--footer-color);
  margin-bottom: 30px
}

#di-cosa-mi-occupo .col {
  background-color: #fff;
  flex-basis: 100%
}

#di-cosa-mi-occupo .col-text {
  padding: 2rem 1rem
}

#di-cosa-mi-occupo p {
  color: #777;
  font-size: 15px;
  line-height: 24px
}

#di-cosa-mi-occupo .btn {
  margin: 0 auto
}

#di-cosa-mi-occupo h4 {
  min-height: 66px
}

#di-cosa-mi-occupo p {
  font-size: .95rem
}

#dr-federico-dellasanta img {
  max-height: 425px
}

#cbt,
#il-mio-lavoro {
  background-color: var(--green-bg-color)
}

#cbt {
  padding-bottom: 35px;
  padding-top: 35px
}

#contattami li {
  line-height: 1.5rem;
  margin-bottom: 20px
}

#contattami .fa-li {
  color: var(--btn-color);
  font-size: 1.5rem
}

#contattami .col-50.flex-column {
  min-height: 150px
}

.contact-info {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  display: block;
  font-family: sans-serif;
  outline: 0;
  outline: none;
  padding: 1rem;
  resize: none;
  width: 100%;
  z-index: 0
}

.contact-info.invalid {
  box-shadow: 0 2px 9px 2px rgba(255, 0, 0, .25)
}

.contact-info:focus {
  border-color: var(--btn-color);
  box-shadow: 0 2px 9px 2px rgba(0, 0, 0, .15)
}

.contact-info.invalid:focus {
  box-shadow: 0 2px 9px 2px rgba(255, 0, 0, .25)
}

#contact-form input {
  height: 18px
}

#contact-form textarea {
  height: 150px
}

#contact-form .btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  position: relative;
  transition: opacity .3s;
  width: 100%
}

#contact-form .btn.unclickable {
  cursor: not-allowed;
  opacity: .5
}

.iubenda-link {
  color: gray;
  display: inline-block;
  transition: color .3s
}

.iubenda-link:focus,
.iubenda-link:hover {
  color: orange
}

#miele-cb {
  display: none;
  visibility: hidden
}

#contattami sup {
  color: red
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle
}

input[type=checkbox]:before {
  color: #d3d3d3;
  content: "\f0c8";
  font: var(--fa-font-regular);
  font-size: 1rem
}

input[type=checkbox]:checked:before {
  color: var(--btn-color);
  content: "\f14a";
  font: var(--fa-font-solid);
  font-size: 1rem
}

input[type=checkbox]:focus:before,
input[type=checkbox]:hover:before {
  color: var(--btn-color);
  text-shadow: 0 2px 9px 2px rgba(0, 0, 0, .15)
}

label[for=norm-cb] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.fa-spin {
  display: none;
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.response {
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
  padding: 20px;
  position: relative;
  transition: opacity .5s
}

.response:before {
  font: var(--fa-font-solid);
  padding-right: 1rem
}

.response .fa-xmark {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%)
}

.response.success {
  background-color: #d1e7dd;
  border-color: #a9d2bf;
  color: #0a3622
}

.response.success:before {
  content: "\f058"
}

.response.error {
  background-color: #fff3cd;
  border-color: #ffecb2;
  color: #664d03
}

.response.error:before {
  content: "\f06a"
}

#contatti {
  background-color: var(--green-bg-color);
  padding-bottom: 75px;
  padding-top: 75px;
  position: relative
}

#contatti:before {
  background-image: url(../../public/images/footer_right.webp);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  inset: 0;
  position: absolute
}

#contatti img {
  width: 75%
}

#contatti .map {
  max-width: 100%
}

#contatti > .col-50:first-child {
  align-self: flex-start
}

#contatti h4 {
  border-bottom: 2px solid var(--btn-color);
  color: var(--footer-color);
  display: inline-block;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-left: 0
}

#contatti i {
  color: var(--btn-color)
}

#contatti li {
  margin-bottom: 1rem
}

#contatti .underline-on-hover a {
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: .3s
}

#contatti .underline-on-hover a:focus,
#contatti .underline-on-hover a:hover {
  border-color: #000
}

iframe.map {
  background-color: #e5e3df
}

/* ! ****************************** */
/* ! FOOTER *********************** */
/* ! ****************************** */
.ftr-bottom {
  background-color: var(--footer-color);
  color: #fff;
  padding: 20px
}

.copyright a {
  color: #fff;
  transition: .3s
}

.copyright a:hover {
  text-decoration: underline
}

.error-message {
  font-size: .8rem;
  color: red;
}

/* ! ****************************** */
/* ! RESPONSIVE ******************* */
/* ! ****************************** */
@media screen and (min-width: 767px) {
  h1 {
    font-size: 56px
  }

  h1 > span {
    font-size: 44px
  }

  .container {
    max-width: 980px
  }

  #hero img {
    height: 650px
  }

  #hero h3 {
    font-size: 1.8rem;
    font-weight: 600
  }

  #di-cosa-mi-occupo .col {
    flex-basis: calc(50% - 20px)
  }

  #cbt .col-50:first-child {
    order: 1
  }

  #cbt figure {
    padding: 0 10% 0 30%
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 1200px
  }

  #hero .col-50:first-of-type {
    padding-left: 50%;
  }

  #top-header .container,
  .ftr-bottom .container {
    max-width: 1400px
  }

  #top-header {
    padding: 0
  }

  #hamburger-menu {
    display: none
  }

  #top-navbar {
    box-shadow: none;
    height: auto;
    padding: 0;
    position: static;
    width: auto
  }

  #top-navbar ul {
    display: flex
  }

  #top-navbar li a {
    border: none;
    padding: 20px
  }

  #hero .col-50:first-of-type {
    padding-left: 100px
  }

  #hero .col-50:first-of-type p {
    font-size: 22px
  }

  #hero img {
    -o-object-position: center;
    object-position: center
  }

  #di-cosa-mi-occupo .col {
    flex-basis: calc(33.33333% - 13.33333px)
  }

  #formButton {
    margin-top: 0
  }

  #dr-federico-dellasanta .col-50.mb-50 {
    margin-bottom: 0 !important
  }
}

@media screen and (min-width: 1400px) {
  #hero .col-50:first-of-type {
    display: flex;
    justify-content: end;
    padding-right: 75px;
  }

  #hero .hero-container {
    max-width: 612.5px;
  }
}

/* # HAMBURGER MENU */

#hamburger-menu {
  width: 35px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--footer-color);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#hamburger-menu span:nth-child(1) {
  top: 0;
}

#hamburger-menu span:nth-child(2) {
  top: 10px;
}

#hamburger-menu span:nth-child(3) {
  top: 20px;
}

#hamburger-menu.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

#hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger-menu.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}

/* # SHINE ON BUTTONS */

.btn:after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-6em, 225%);
}

/*This activates the sheen once the button has been hovered*/
.btn:hover:not(.unclickable)::after,
.btn:focus:not(.unclickable)::after {
  animation: sheen 1.3s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -200%);
  }
}
